<ng-container *ngIf="authors && authorsCanChange" [ngTemplateOutlet]="mainComponent">  <!-- it auto check null or not null -->

</ng-container>

<ng-template #mainComponent>
  <!-- search input -->
  <form [formGroup]="formGroup" (ngSubmit)="onSearchClick()" class="relative overflow-x-auto mt-4">
    <div class="flex items-center justify-center flex-column flex-wrap 0 pb-4 bg-white ">
      <div class="relative mt-3">
        <!-- icon search -->
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <!-- input -->
        <input
          [formControlName]="searchInputFormGroupName"
          type="text" id="table-search-users"
          class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search by fullname"/>
      </div>
    </div>
  </form>

  <!-- table here -->
  <data-table
    [headerColumns]="headerColumns"
    [data]="authorsCanChange"
    (getReadData)="setReadData($event)"
    (getUpdateData)="setUpdateData($event)">
  </data-table>

  <!-- card here -->
  <ng-container *ngIf="response.card" [ngTemplateOutlet]="cardComponent"></ng-container>

  <!-- form here -->
  <ng-container *ngIf="response.form" [ngTemplateOutlet]="formComponent"></ng-container>
</ng-template>

<ng-template #cardComponent>
  <card
   [response]="response"
   (getCardStatus)="setCardStatus($event)">
  </card>
</ng-template>

<ng-template #formComponent>
  <data-form
    [response]="response"
    (getFormStatus)="setFormStatus($event)"
    (getFormGroup)="setFormGroupUpdate($event)">
  </data-form>
</ng-template>

